In [118]:
df <- read.csv('mlbootcamp5_train (1).csv')

In [119]:
head(df)

  id age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active
1 0  18393 2      168    62     110    80   1           1    0     0    1
2 1  20228 1      156    85     140    90   3           1    0     0    1
3 2  18857 1      165    64     130    70   3           1    0     0    0
4 3  17623 2      169    82     150   100   1           1    0     0    1
5 4  17474 1      156    56     100    60   1           1    0     0    0
6 8  21914 1      151    67     120    80   2           2    0     0    0
  cardio
1 0
2 1
3 1
4 1
5 0
6 0

Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке gender) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).

Посчитаем средний рост по различным значениям пола:

In [120]:
mean(df$height[df$gender == 1])

[1] 161.3556

In [121]:
mean(df$height[df$gender == 2])

[1] 169.9479

In [122]:
sex <- as.array(df$gender == 1)

In [123]:
female <- which(sex == TRUE)

In [124]:
male <- which(sex == FALSE)

Количество женщин и мужчин

In [125]:
print(length(female))

[1] 45530

In [126]:
print(length(male))

[1] 24470

Вопрос 2 (1 балл). Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?

In [127]:
alco_fem <- length(as.array(which(as.array(df$alco == 1) & sex == TRUE)))

In [128]:
alco_m <- length(as.array(which(as.array(df$alco == 1) & sex == FALSE)))

In [129]:
print(alco_fem)

[1] 1161

In [130]:
print(alco_m)

[1] 2603

Вывод: мужчины указывают чаще, что употребляют алкоголь

Вопрос 3 (1 балл). Во сколько раз (округленно, round) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?

In [131]:
smoke_fem <- length(as.array(which(as.array(df$smoke == 1) & sex == TRUE)))

In [132]:
smoke_m <- length(as.array(which(as.array(df$smoke == 1) & sex == FALSE)))

In [133]:
s_w <- smoke_fem / length(female) * 100

In [134]:
s_m <- smoke_m / length(male) * 100

In [135]:
print(round(s_m/s_w))

[1] 12

Вопрос 4 (1 балл). Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.

Предположим, что возраст представлен в днях. Разделим данный в таблицах возраст на количество дней в году, получим возраст в месяцах

In [136]:
df$age_years <- round(df$age / 365)

In [137]:
head(df)

  id age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active
1 0  18393 2      168    62     110    80   1           1    0     0    1
2 1  20228 1      156    85     140    90   3           1    0     0    1
3 2  18857 1      165    64     130    70   3           1    0     0    0
4 3  17623 2      169    82     150   100   1           1    0     0    1
5 4  17474 1      156    56     100    60   1           1    0     0    0
6 8  21914 1      151    67     120    80   2           2    0     0    0
  cardio age_years
1 0      50
2 1      55
3 1      52
4 1      48
5 0      48
6 0      60

In [138]:
round((mean(df$age_years[df$smoke == 1])),2)

[1] 52.3

In [139]:
round((mean(df$age_years[df$smoke == 0])),2)

[1] 53.44

In [140]:
print(median(df$age_years[df$smoke == 0])*12 - median(df$age_years[df$smoke == 1])*12)

[1] 24

Вопрос 5.Создайте новый признак age_years – возраст в годах, округлив до целых (round). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака cholesterol следующее: 4 ммоль/л  →→  1, 5-7 ммоль/л  →→  2, 8 ммоль/л  →→  3.
Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.
Во сколько раз (округленно, round) отличаются доли больных людей (согласно целевому признаку, cardio) в этих двух подвыборках? Посчитайте на наших данных.

In [141]:
v1 <- df$cardio[(df$gender == 2) & (df$age_years >=60) & (df$age_years <=64) & (df$smoke == 1) & (df$ap_hi < 120) & (df$cholesterol ==1)]

In [142]:
v2 <- df$cardio[(df$gender == 2) & (df$age_years >=60) & (df$age_years <=64) & (df$smoke == 1) & (df$ap_hi >= 160) &(df$ap_hi < 180) & (df$cholesterol ==1)]

In [143]:
print(round(mean(v2)/mean(v1)))

[1] 3

Вопрос 6 (2 балла). Постройте новый признак – BMI (Body Mass Index). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.

Утверждения:

Медианный BMI по выборке превышает норму
У женщин в среднем BMI ниже, чем у мужчин
У здоровых в среднем BMI выше, чем у больных
В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [144]:
df$height_m <- (df$height/100)**2

In [145]:
df$BMI <- df$weight/df$height_m

Получаем Медианный BMI

In [146]:
print(median(round(df$BMI)))

[1] 26

Получаем средний BMI у женщин

In [147]:
print(mean(round(df$BMI[female]),1))

[1] 27

Получаем средний BMI у мужчин

In [148]:
print(mean(round(df$BMI[male]),1))

[1] 26

Выяснили, что средний BMI у женщин больше

Выясним средний BMI у здоровых

In [149]:
print(mean(round(df$BMI[which(df$cardio == 0)]),1))

[1] 25

Выясним средний BMI у больных

In [150]:
print(mean(round(df$BMI[which(df$cardio == 1)]),1))

[1] 27

Вывод: средний BMI больше у больных

Выясним средний BMI у здоровых непьющих мужчин

In [151]:
print(mean(round(df$BMI[which(as.array(df$alco == 0) & as.array(df$cardio == 0) & sex == FALSE)]),1))

[1] 25

Выясним средний BMI у больных пьющих мужчин

In [ ]:
print(mean(round(df$BMI[which(as.array(df$alco == 0) & as.array(df$cardio == 0) & sex == TRUE)]),1))

Вопрос 7.Сколько процентов данных (округленно, round) мы выбросили?

In [ ]:
new_df <- length(df$BMI[(df$ap_hi >= df$ap_lo) & (df$height >= quantile(df$height, 0.025)) & (df$height <= quantile(df$height, 0.975)) & (df$weight >= quantile(df$weight, 0.025)) & (df$weight <= quantile(df$weight, 0.975))])

In [ ]:
first_df <- length(df$BMI)

In [ ]:
s = round( new_df/ first_df *100, 0)

In [ ]:
print(100-s)